@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: press-start-2p;
    src: url(../../fonts/press-start-2p/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: fa;
    src: url("../../fonts/fa/fa-solid-900.ttf");
}

.fa::before {
    font-family: fa;
}

.fa.download::before {
    content: "\f019";
}

.fa.share::before {
    content: "\f1e0";
}

.fa.stroke-color::before {
    content: "\f1fc";
    color: var(--clrPrimaryBase);
}

.fa.fill-color::before {
    content: "\f576";
    color: var(--clrPrimaryBase);
}

.fa.font-increase::before {
    content: "\2b";
    color: var(--clrPrimaryBase);
}

.fa.font-decrease::before {
    content: "\f068";
    color: var(--clrPrimaryBase);
}

.fa.add-line::before {
    content: "\f055";
    color: var(--clrPrimaryBase);
}

.fa.switch-line::before {
    content: "\f2f1";
    color: var(--clrPrimaryBase);
}

.fa.remove-line::before {
    content: "\f2ed";
    color: var(--clrPrimaryBase);
}