:root {
    --clrPrimaryBase: #161616;
    --clrPrimary-1: #eceaff;
    --clrPrimary-2: #ffffff;

    --clrSecondary: #8a2be2;
    --clrTertiary: #87fdf3;


    /* layout */
    
    --l: 1060px;
    --m: 860px;
    --s: 600px;
    
    --layout-padding: 20px;
    --headerHeight: 100px;
}