.main-header {
    grid-column: 2;
    background-color: blueviolet;
    border-radius: 10px;
}

.main-header a {
    /* position: relative; */
    display: grid;
    justify-content: center;
    align-items: center;

    min-width: var(--headerHeight);
    min-height: var(--headerHeight);

    color: var(--clrPrimary-4);
    transition: color .3s ease;
}