.main-header {
    grid-column: 2;
    min-height: var(--headerHeight);
    margin-block-start: 1em;
    border-radius: 10px;
    background-color: var(--clrSecondary);
}

.main-header li {
    /* position: relative; */
    display: grid;
    justify-content: center;
    align-items: center;
    margin-inline-end: .8em;

    min-width: var(--headerHeight);
    min-height: var(--headerHeight);

}

.main-header a {
    font-size: 1.4rem;
    color: var(--clrTertiary);
}