.meme-editor {
    gap: 20px;
    width: 450px;
}

.meme-editor .text-input {
    border-radius: 2em;
    height: 4em;
}

.meme-editor .text-input::placeholder {
    font-size: 1.2rem;
    text-align: center;
}

.meme-editor .download {
    background-color: rgb(0, 47, 255);
}

.meme-editor .share {
    background-color: rgb(0, 202, 78);
}

.meme-editor .edit-buttons .btn{
    background-color: var(--clrPrimary-2);
}

.meme-editor .edit-lines .btn{
    background-color: var(--clrPrimary-2);
}